* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #E3F2FD;
}

/* header */

.heading {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

/* main */

main {
    height: 88.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    height: 50vh;
    width: 50vw;
    background-color: #90CAF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    border-radius: 1em;
}

.form table td {
    height: 2em;
    width: 9em;
}

.form table td input {
    height: 1.5em;
    border: 1px solid black;
    border-radius: 0.25em;
    padding-left: 0.25em;
}

::placeholder {
    color: rgb(176, 175, 175);
    font-size: small;
    
}

button {
    height: 3em;
    width: 14em;
    margin-top: 5em;
    background-color: rgb(56, 101, 148);
    color: white;
    border: 2px solid black;
    border-radius: 1em;
}