* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #E3F2FD;
}

/* header */

.heading {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

/* main */

main {
    height: 88.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    height: 50vh;
    width: 50vw;
    background-color: #90CAF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1em;

}

.inputs {
    height: 20vh;
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 3em;
}
.inputs input {
    padding: 0.25em;
    width: 20em;
    border: 1px solid black;
    border-radius: 0.35em;
}

.generate-button {
    margin: 2em;
}

.generate-button button {
    height: 3em;
    width: 12em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #2196F3;
}