* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #E3F2FD;
}

/* header */

.heading {
    height: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

/* main */

main {
    height: 88.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    height: 70vh;
    width: 30vw;
    background-color: #90CAF9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 1em;
}

.form table td {
    height: 3em;
    width: 9em;
}

.form table td input {
    height: 2em;
    padding-left: 0.25em;
    border: none;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 0.25em;
}

::placeholder {
    color: rgb(176, 175, 175);
    font-size: small;

}

/* button */



button {
    height: 3em;
    width: 14em;
    margin-top: 5em;
    background-color: rgb(56, 101, 148);
    color: white;
    border: 2px solid black;
    border-radius: 1em;
}

/* resume content */

.resume-content {
    height: 100%;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume {
    height: 70vh;
    width: 27vw;
    background-color: white;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-radius: 1rem;
    padding: 1em;
    font-size: 0.9rem;
}

.resume-header {
    text-align: center;
    text-decoration: underline;
    font-size: 1.2rem;
}

.resume-body {
    height: 85%;
    padding-top: 2em;
}

/* error message */

.error-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-msg {
    color: red;
}